@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.sora-font {
    font-family: "Sora", serif;
}


.card-service:hover figure {
    background-color: #EFEBE3;
}

.card-service:hover h6 {
    color: #ffff;
}

.card-product:hover figure {
    background-color: #ffff;
}